body {

  font-family: Arial, sans-serif;
  background-image: url('3.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

}